# Database
POSTGRES_HOST=127.0.0.1
POSTGRES_USER=postgres
POSTGRES_PASSWORD=yourpassword
POSTGRES_DB=mindtracer
POSTGRES_PORT=6500

# Server
PORT=8000
SECRET_KEY=your-secret-key
TOKEN_LIFESPAN_HOURS=4
